# Azure OpenAI
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_DEPLOYMENT=
AZURE_FOUNDRY_PROJECT_ENDPOINT=
# Azure SQL
DATABASE_URL=
# Flask
FLASK_SECRET_KEY=
FLASK_DEBUG=True


JIRA_BASE_URL=
JIRA_EMAIL=
JIRA_API_TOKEN=
JIRA_PROJECT_KEY=